/* 0px 1px 1px #091E4240, 0px 0px 1px #091E424F */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #edf2ff;
  font-family: "Inter";
}

/* Header and Nav */

.main-header {
  margin-bottom: 40px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 50px;
}

.nav__logo {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2.5px;
}

.profile-container {
  display: flex;
  gap: 25px;
  align-items: center;
}

.nav__profile {
  width: 30px;
  height: 30px;
  background-color: gray;
  border-radius: 50%;
}

.nav__sign-out-btn {
  background-color: #5f3dc4;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

/* Columns and Elements */

.columns-container {
  display: flex;
  height: auto;
  gap: 60px;
  justify-content: center;
  align-items: flex-start;
}

.topic-column {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  background-color: #fff;
  width: 200px;
  border-radius: 8px;
}

.task-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.task-column__header {
  text-align: center;
  background-color: #91a7ff;
  padding: 10px;
  font-weight: bold;
  color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  align-self: stretch;
}

.task-column__header--todo {
  background-color: #91a7ff;
}

.task-column__header--in-progress {
  background-color: #74c0fc;
}

.task-column__header--done {
  background-color: #8ce99a;
}

.task-column-element {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: relative;
  margin: 0 5px;
}

.task-column-element__text {
  font-size: 12px;
  margin-bottom: 8px;
}

.task-column-element__date {
  font-size: 8px;
  text-align: end;
}

.task-column-element__more-icon {
  width: 18px;
  height: 18px;
  stroke: black;
  position: absolute;
  top: 4px;
  right: 0px;
  cursor: pointer;
}

.task-column__add-button {
  background-color: #91a7ff;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 10px 5px;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.task-column__add-input {
  min-height: 50px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 5px;

  resize: none;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 8px;
}

.task-column-element--todo {
  background-color: #dbe4ff;
}

.task-column-element--in-progress {
  background-color: #d0ebff;
}

.task-column-element--done {
  background-color: #d3f9d8;
}
